@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <form method="post" asp-action="CalculateExpression">
        <div class="form-group">
            <label>Введите выражение</label>
            <div style="display: flex;">
                <input type="text" class="form-control" name="Expression" value="@Model.Expression" />
                <button class="btn btn-primary" type="submit">вычислить</button>
            </div>
        </div>
    </form>

    <br/>
    <div>
        <label>@Model.Resultado</label>
    </div>
</div>